body{
    background-image: url("../Images/index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container
{
    display: flex;
    
    height: 60px;

    width: 100%;
    

}

div > div ,#btn
{
    
    width: 50%;
    height: 70%;
    margin: auto;
    padding: 20px;
    text-align: center;

}


#gameContainer
{   
    position: relative;
    width: 1400px;
    height: 600px;
    top : 30px;
    border: 1px solid black;
    margin: auto;
}


#endGame
{
    display: flex;
    margin: auto;
    width: 50%;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-shadow: #7d049b;
    text-justify: auto;
   
    text-align: center;
    padding: 10px;
    align-items: center;
    align-content: center;
    flex-direction: column;


    

}



.button{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    }
    .button:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#7d049b;
    border-color:#7d049b;
    cursor: none;
    }
    @media all and (max-width:30em){
    .button{
    display:block;
    margin:0.4em auto;
    }
}